<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <!-- ##### Header Area Start ##### -->
  <header class="header-area">
    <%- include('../partials/header'); %>
  </header>
  <br><br>
  <div class="container-fluid mt-5 px-5">
    <div class="row mx-5">
      <% for(let i = 0 ; i < data.length; i++){ %>
      <div class="col-sm-4">
        <div class="recipe-item">
          <a href="/recipes/appetizers/<%= data[i]._id %>"><img src="<%= data[i].image %>" alt="Image"
              class="image"></a>
          <div class="ri-text">
            <div class="cat-name"><%= data[i].categoryText %></div>
            <a href="/recipes/<%= data[i].category %>/<%= data[i]._id %>" class="text-decoration-none">
              <h4><%=data[i].name %></h4>
            </a>
            <p class="text-left"> <%= data[i].description %></p>
          </div>
        </div>
      </div>
      <%  } %>  
    </div>
  </div>
  <!-- Recipe Section End -->
  <hr class="style_1">
  <footer class="footer-section">
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>