<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header class="header-area">
        <%- include('../partials/header'); %>
    </header>
    <!-- Bootstrap row -->
    <div class="row" id="body-row">
        <!-- Sidebar -->
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <!-- Bootstrap List Group -->
            <ul class="list-group">
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed"
                    style="background-color: #333333;">
                    <small>MAIN MENU</small>
                </li>
                <!-- /END Separator -->
                <!-- Menu with submenu -->
                <!-- <a href="#submenu" data-toggle="collapse" aria-expanded="false"
                    class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-clipboard-list fa-fw mr-3"></span>
                        <span class="menu-collapsed">Categories</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a> -->
                <!-- Submenu content -->
                <!-- <div id='submenu' class="collapse sidebar-submenu">
                    <a href="/sales-report" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Appetizers</span>
                    </a>
                    <a href="/stock-report" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Main Dishes</span>
                    </a>
                    <a href="/cashflow" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Desserts</span>
                    </a>
                </div> -->
                <a href="/home" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-tasks fa-fw mr-3"></span>
                        <span class="menu-collapsed">Home</span>
                    </div>
                </a>

                <a href="/table" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-clipboard-list fa-fw mr-3"></span>
                        <span class="menu-collapsed"> Recipes</span>
                    </div>
                </a>
                <a href="/inventory" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-tasks fa-fw mr-3"></span>
                        <span class="menu-collapsed">Inventory</span>
                    </div>
                </a>
                <a href="#"
                    class="sidebar-colapse bg-dark list-group-item list-group-item-action d-flex align-items-center">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span id="collapse-icon" class="fa fa-2x fas fa-angle-double-left mr-3"></span>
                        <span id="collapse-text" class="menu-collapsed">Collapse</span>
                    </div>
                </a>
            </ul><!-- List Group END-->
        </div><!-- sidebar-container END -->
        <!-- MAIN -->
        <div class="col p-4">
            <h1 class="display-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="container">
                <div class="row ">
                    <form method="POST" action='/create/recipes' class="mt-5">
                        <a href="/create/recipes" class="btn btn-primary ">ADD</a>
                    </form>
                </div>
                <div class="row">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col-sm">RECIPE NAME</th>
                                <th scope="col-sm">CATEGORY </th>
                                <th scope="col-sm">ACTION</th>


                            </tr>
                        </thead>
                        <tbody>
                            <% for (i=data.length-1;i>=0;i--) {%>
                            <tr>
                                <td><%=data[i].name%></td>
                                <td><%=data[i].category%></td>
                                <td>
                                    <form action="/delete/<%= data[i]._id%> " method="POST">
                                        <input type="submit" value="Delete" name="" id="delete" class="btn btn-danger">
                                        <a href="/update/recipes/<%= data[i]._id %> " class="btn btn-info ">Update</a>
                                    </form>
                                </td>
                            </tr>
                            <%}%>   
                </tbody>
            
            </table>
        </div>
        <script src="/static/js/dashboard.js"></script>
</body>

</html>